body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    align-items: center;
    background-color: lightgrey;
  }
  
  header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }
  
  section {
    width: 30%;
    margin-bottom: 20px;
  }
  
  section h2 {
    margin-bottom: 10px;
  }
  
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .product img {
    width: 250px;
    height: auto
    object-fit: cover;
    border-radius: 10px;
  }
  
  .product h3 {
    margin: 10px 0;
  }
  
  .product .price {
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #333;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #444;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  @media (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: center;
    }
  
    header h1 {
      margin-bottom: 20px;
    }
  
    nav {
      margin-bottom: 20px;
    }
  
    nav ul {
      flex-direction: column;
      align-items: center;
    }
  
    nav li {
      margin: 10px 0;
      align-self: center;
    }
  
    main {
      flex-direction: column;
    }
    
    section {
      width: 100%;
    }
  }
